################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Builders.DotNetCore/v16/Server/sqlite3
